/* create class "App" */
.App { 
/* aligns all text centered */
  text-align: center;
}

/* create class "App-logo */
.App-logo {
/* logo animation 20 second spin loop  */
  animation: App-logo-spin infinite 20s linear;
/* logo height of 80px   */
  height: 80px;
}

/* create class "App-header */
.App-header {
/* header background color   */
  background-color: #222;
/* header height   */
  height: 150px;
/* header padding (space between border and element   */
  padding: 20px;
/* header text color   */
  color: white;
}

/* create class "App-title */
.App-title {
/* title font size  */
  font-size: 1.5em;
}

/* create class "App-intro */
.App-intro {
/* intro font size   */
  font-size: large;
}

@keyframes App-logo-spin {
/* logo animation spin start & end  */
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
